body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  
  padding-bottom: 2rem;
}

img {
  width: 100px;
  height: 100px;
  padding: 0;
}

img.App-logo {
  height: 20vmin;
}

h1, img {
  font-size: 1.8rem;
  margin-top: 0;
  margin-bottom: 0;
}

.title {
  font-size: 2.5rem;
  padding: 0 5rem;
  text-decoration: underline;
  margin-bottom: 2rem;
}

.quote {
  padding: 0 5rem;
  margin-bottom: 0.8rem;
  font-size: medium;
  font-style: italic;
}

.author {
  margin-top: 0;
font-size: small;
font-weight: bold;
}

.tiny {
  margin: 0;
  font-size: x-small;
}

.developer-name {
  font-weight: bold;
  color: #09aefa;
}

@media (max-width: 575.98px) {
  .title {
    font-size: 2rem;
  }
}